{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {clojure-service-template.queries {insert-weather-forecast-entry! {:arities {2 {:args [:any
                                                                                                                              :any],
                                                                                                                       :ret :any}}}},
                                        clojure-service-template.core {build-system {:arities {1 {:args [{:op :keys,
                                                                                                          :req {:web-server {:op :keys,
                                                                                                                             :req {:host :string,
                                                                                                                                   :port :int,
                                                                                                                                   :cookie-store-key :vector}},
                                                                                                                :database {:op :keys,
                                                                                                                           :req {:username :string,
                                                                                                                                 :password :string,
                                                                                                                                 :jdbcUrl :string}},
                                                                                                                :kinde-client {:op :keys,
                                                                                                                               :req {:domain :string,
                                                                                                                                     :client-id :string,
                                                                                                                                     :client-secret :string,
                                                                                                                                     :redirect-uri :string,
                                                                                                                                     :logout-redirect-uri :string}},
                                                                                                                :weather-api {:op :keys,
                                                                                                                              :req {:base-url :string}}}}],
                                                                                                  :ret :any}}}},
                                        clojure-service-template.components.web-server {new-web-server {:arities {1 {:args [{:op :keys,
                                                                                                                             :req {:host :string,
                                                                                                                                   :port :int,
                                                                                                                                   :cookie-store-key :vector}}],
                                                                                                                     :ret :any}}}},
                                        clojure-service-template.components.database {new-database {:arities {1 {:args [{:op :keys,
                                                                                                                         :req {:username :string,
                                                                                                                               :password :string,
                                                                                                                               :jdbcUrl :string}}],
                                                                                                                 :ret :any}}}},
                                        clojure-service-template.components.kinde-client {new-kinde-client {:arities {1 {:args [{:op :keys,
                                                                                                                                 :req {:domain :string,
                                                                                                                                       :client-id :string,
                                                                                                                                       :client-secret :string,
                                                                                                                                       :redirect-uri :string,
                                                                                                                                       :logout-redirect-uri :string}}],
                                                                                                                         :ret :any}}}}}}}}
